<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="./img/title.png">
        <title>Checkout</title>
    </head>
    <body>
        {{>userHeader}}
        <div id="content-wrapper">
            <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                <a href="/home">Home</a>
                </li>
                <li class="breadcrumb-item">
                <a href="/userprofile">Profile</a>
                </li>
                <li class="breadcrumb-item active">Edit</li>
            </ol>
            <br>
            <h2>Edit User Profile</h2>
            {{!-- <br>
            <h2>Upload the checkout image</h2>
            <br>
            <div class="container-fluid">
                <form method="POST" enctype="multipart/form-data" id="image-form">
                    <input type="file" name="image">
                    <button type="submit" class="btn btn-success">Upload</button>
                </form>
            </div>
            <br> --}}
            <br><br>
            <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 col-md-2" style="margin-left: 15px;">
                    {{# if image}}
                        <img src={{image}}>
                    {{else}}
                        <img src="/img/profile.jpeg">
                        <center>
                            <form method="POST" id="form">
                                <input type="file" name="image">
                                <br><br><br>
                                <button type="submit" class="btn btn-success">Make Changes!</button>
                            </form>
                        </center>
                    {{/if}}
                </div>
                <div class="col-sm-4 col-md-5" style="margin-left: 40px;">
                    <ul class="list-group-item">
                        <li class="list-group-item">
                            <B>Name: </B> <form id="form">  <input type="text" value="{{name}}" id="name"> </form>
                        </li>
                        <li class="list-group-item">
                            <B>Email Address: </B> <input type="text" value="{{email}}" id="email">  
                        </li>
                        {{# if storeName}}
                        <li class="list-group-item">
                            <b>Store Name: </b> <input type="text" value="{{storeName}}" id="storeName">
                        </li>
                        {{else}}
                        <li class="list-group-item">
                            <b>Store Name: </b> <input type="text" id="storeName">
                        </li>
                        {{/if}}
                        {{# if address}}
                        <li class="list-group-item">
                            <b>Store Address: </b> <input type="text" value="{{address}}" id="address">
                        </li>
                        {{else}}
                        <li class="list-group-item">
                            <b>Store Address: </b> <input type="text" id="address">
                        </li>
                        {{/if}}
                    </ul>                       
                </div>
            </div>
            <br>
        </div>