<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="./img/title.png">
        <title>Edit Profile</title>
    </head>
    <body>
        {{>userHeader}}
        <div id="content-wrapper">
            <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                <a href="/home">Home</a>
                </li>
                <li class="breadcrumb-item">
                <a href="/userprofile">Profile</a>
                </li>
                <li class="breadcrumb-item active">Edit</li>
            </ol>
            <br>
            <h2><span style="margin-left: 25px;">Edit User Profile</span></h2>
            {{!-- <br>
            <h2>Upload the checkout image</h2>
            <br>
            <div class="container-fluid">
                <form method="POST" enctype="multipart/form-data" id="image-form">
                    <input type="file" name="image">
                    <button type="submit" class="btn btn-success">Upload</button>
                </form>
            </div>
            <br> --}}
            <br><br>
            <div class="container-fluid">
                <form method="POST" enctype="multipart/form-data" id="form">
                    <div class="row">
                        <div class="col-sm-2 col-md-2" style="margin-left: 15px;">
                            {{# if image}}
                                <img src={{image}} style="width: 270px; height: 270px">
                                <br><br>
                                <center>
                                    <input type="file" name="image">
                                </center>
                            {{else}}
                                <img src="/img/profile.jpeg">
                                <center>
                                    <input type="file" name="image">
                                </center>
                            {{/if}}
                        </div>
                        <div class="col-sm-4 col-md-5" style="margin-left: 40px;">
                            <ul class="list-group-item">
                                <li class="list-group-item">
                                    <B>Name: </B> <input type="text" value="{{name}}" name="name">
                                </li>
                                <li class="list-group-item">
                                    <B>Email Address: </B> {{email}}
                                </li>
                                {{# if storeName}}
                                <li class="list-group-item">
                                    <b>Store Name: </b> <input type="text" value="{{storeName}}" name="storeName">
                                </li>
                                {{else}}
                                <li class="list-group-item">
                                    <b>Store Name: </b> <input type="text" name="storeName" placeholder="Not Provided">
                                </li>
                                {{/if}}
                                {{# if address}}
                                <li class="list-group-item">
                                    <b>Store Address: </b> <input type="text" value="{{address}}" name="address">
                                </li>
                                {{else}}
                                <li class="list-group-item">
                                    <b>Store Address: </b> <input type="text" name="address" placeholder="Not Provided">
                                </li>
                                {{/if}}
                                {{# if phone}}
                                <li class="list-group-item">
                                    <b>Phone Number: </b> <input type="text" value="{{phone}}" name="phone">
                                </li>
                                {{else}}
                                <li class="list-group-item">
                                    <b>Phone Number: </b> <input type="text" name="phone" placeholder="Not Provided">
                                </li>
                                {{/if}}
                            </ul>                       
                        </div>
                    </div>
                    <br><br>
                    <span style="margin-left: 300px;"><button class="btn btn-success">Save Changes!</button></span>
                </form>
        </div>