<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="./img/title.png">
        <title>Checkout</title>
    </head>
    <body>
        {{>userHeaderBill}}
        <link rel="stylesheet" href="/css/addproduct.css">
        <div id="content-wrapper">
            <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                <a href="/home">Home</a>
                </li>
                <li class="breadcrumb-item">
                <a href="/customer">Customer</a>
                </li>
                <li class="breadcrumb-item active">Billing</li>
            </ol>
            <br>
            <h2>Upload the checkout image</h2>
            <br>
            <div class="container-fluid">
                <form method="POST" enctype="multipart/form-data" id="image-form">
                    <input type="file" name="image">
                    <button type="submit" class="btn btn-success">Upload</button>
                </form>
            </div>
            <br>
            <div class="container-fluid">
                <div class="row">
                    {{#each productsBill}}
                        <div class="column">
                            <center>
                                <img src="{{this.image}}">
                                <p><b>Rs. {{this.price}} <br> {{this.name}} <br> Current Stock: <span style="color: green;">{{this.stock}}</span></b></p>
                                <label for="qty"><b>Quantity</b></label>
                                <input type="number" name="qty" id="qty{{this.index}}" style="width: 4em">
                                <a href="/addtocart/{{this.id}}" class="add-cart" id="add-cart{{this.index}}"><button type="button" class="btn btn-success" onclick="add({{this.index}})">Include</button></a>
                            </center>
                        </div>
                    {{/each}}
                </div>
                <br>
                {{# if recommended}}
                <h3>Recommended Product</h3>
                {{/if}}
                <div class="row">
                    {{#each recommended}}
                        <div class="column">
                            <center>
                                <img src="{{this.image}}">
                                <p><b>Rs. {{this.price}} <br> {{this.name}} <br> Current Stock: <span style="color: green;">{{this.stock}}</span></b></p>
                                <label for="qty"><b>Quantity</b></label>
                                <input type="number" name="qty" id="qty{{this.index}}" style="width: 4em">
                                <a href="/addtocart/{{this.id}}" class="add-cart" id="add-cart{{this.index}}"><button type="button" class="btn btn-success" onclick="add({{this.index}})">Include</button></a>
                            </center>
                        </div>
                    {{/each}}
                </div>
            </div>
            </div>
        </div>
    </body>
    <script>
        document.getElementById("image-form").action = '/billing'
        function add(index) {
            const qty = document.getElementById("qty" + index).value
            document.getElementById("add-cart" + index).href += "?qty=" + qty
        } 
     </script>
</html>