<link href="/css/bootstrap.css" rel="stylesheet">
{{>userHeader}}
<div id="content-wrapper">
    <div class="container-fluid">
    <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
            <a href="/home">Home</a>
            </li>
            <li class="breadcrumb-item active">Sales Report</li>
        </ol>
        <div class='container-fluid'>
            <div class="row">
                
            </div>
        </div>
        <div class='container-fluid'>
            {{# if transactions}}
            <br>
            <h1>Your Sales</h1>
            <br>
            <div class="row">
                <div class="col-sm-6 col-md-12 col-md-offset-3 col-sm-offset-3">
                    <ul class="list-group-item">
                        <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2 col-md-3">
                                    <strong>
                                        <h4>Customer Name</h4>
                                    </strong>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <strong>
                                        <h4>Total Price</h4>
                                    </strong>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <strong>
                                        <h4>View Basket</h4>
                                    </strong>
                                </div>
                                <div class="col-sm-4 col-md-3">
                                    <strong>
                                        <h4>Date</h4>
                                    </strong>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <strong>
                                        <h4>Time</h4>
                                    </strong>
                                </div>
                            </div>
                        </li>
                        {{# each transactions}}
                         <li class="list-group-item">
                            <div class="row">
                                <div class="col-sm-2 col-md-3">
                                    <strong>
                                        <h5>{{this.customer}}</h5>
                                    </strong>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <strong>
                                        <h5><span style="padding-left: 30px;">Rs. {{this.totalPrice}}</span></h5>
                                    </strong>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <a href="/viewbasket?id={{this.id}}"><span style="color: red;">View</span></a>
                                </div>
                                <div class="col-sm-4 col-md-3">
                                    <strong>
                                        <h5>{{this.time}}</h5>
                                    </strong>
                                </div>
                                <div class="col-sm-4 col-md-2">
                                    <strong>
                                        <h5>{{this.date}}</h5>
                                    </strong>
                                </div>
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
            {{ else }}
            <div class="row">
                <div class="col-sm-6 col-md-6 col-md-offset-3 col-sm-offset-3">
                    <h2>No Sales made uptil now</h2>
                </div>
            </div>
        </div>
        {{/if}}