<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="./img/title.png">
        <title>User Profile</title>
    </head>
    <body>
        {{>userHeader}}
        <div id="content-wrapper">
            <div class="container-fluid">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                <a href="/home">Home</a>
                </li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
            <br>
            <h2> <span style="margin-left: 30px;">User Profile Page</span></h2>
            {{!-- <br>
            <h2>Upload the checkout image</h2>
            <br>
            <div class="container-fluid">
                <form method="POST" enctype="multipart/form-data" id="image-form">
                    <input type="file" name="image">
                    <button type="submit" class="btn btn-success">Upload</button>
                </form>
            </div>
            <br> --}}
            <br><br>
            <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2 col-md-2" style="margin-left: 15px;">
                    {{# if image}}
                        <img src={{image}} style="width: 250px; height: 240px">
                    {{else}}
                        <img src="/img/profile.jpeg">
                    {{/if}}
                    <br><br>
                    <center>
                        <a href="/userprofile/edit"><button class="btn btn-primary">Edit Information</button></a>
                    </center>
                </div>
                <div class="col-sm-4 col-md-5" style="margin-left: 40px;">
                    <ul class="list-group-item">
                        <li class="list-group-item">
                            <B>Name: </B> {{name}}   
                        </li>
                        <li class="list-group-item">
                            <B>Email Address: </B> {{email}}   
                        </li>
                        {{# if storeName}}
                        <li class="list-group-item">
                            <b>Store Name: </b> {{storeName}}
                        </li>
                        {{else}}
                        <li class="list-group-item">
                            <b>Store Name: </b> Not Provided
                        </li>
                        {{/if}}
                        {{# if address}}
                        <li class="list-group-item">
                            <b>Store Address: </b> {{address}}
                        </li>
                        {{else}}
                        <li class="list-group-item">
                            <b>Store Address: </b> Not Provided
                        </li>
                        {{/if}}
                        {{# if phone}}
                        <li class="list-group-item">
                            <b>Phone Number: </b> {{phone}}
                        </li>
                        {{else}}
                        <li class="list-group-item">
                            <b>Phone Number: </b> Not Provided
                        </li>
                        {{/if}}
                    </ul>                       
                </div>
            </div>
        </div>